<a href="https://colab.research.google.com/github/adijams01/thermo_regression_01/blob/main/Thermo_regression_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Get helper_functions.py script from course GitHub
!wget https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py 

# Import helper functions we're going to use
from helper_functions import create_tensorboard_callback, plot_loss_curves, unzip_data, walk_through_dir

--2022-10-28 13:17:24--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2022-10-28 13:17:24 (46.9 MB/s) - ‘helper_functions.py’ saved [10246/10246]

In [3]:
!wget https://github.com/adijams01/therno_regression_01/blob/main/thermodynamics_csv.csv

--2022-10-28 13:26:37--  https://github.com/adijams01/therno_regression_01/blob/main/thermodynamics_csv.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘thermodynamics_csv.csv’

thermodynamics_csv.     [ <=>                ] 186.93K  --.-KB/s    in 0.07s

2022-10-28 13:26:38 (2.54 MB/s) - ‘thermodynamics_csv.csv’ saved [191414]

In [4]:
# Import required libraries
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
thermo = pd.read_csv("https://raw.githubusercontent.com/adijams01/therno_regression_01/main/thermodynamics_csv.csv")

In [8]:
thermo.head()

,S.No,State,cities,latitude,altitude,precipitation (mm),humidity,windspeed,temp
0,1,ladakh,Leh,34.1526,3500.0,102.0,70.0,1.4,5.0
1,2,ladakh,Kargil,34.5539,2676.0,327.0,76.0,5.0,7.5
2,3,ladakh,Khalsi,NaN,2987.0,NaN,54.0,11.3,NaN
3,4,ladakh,Karzok,32.9681,4595.0,NaN,NaN,8.8,-0.5
4,5,jammu and kashmir,Srinagar,34.0837,1585.0,720.0,73.0,4.8,10.8